# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Exported files from the app
canvas_export.txt

# Built Executables
dist/
*.exe

# Local Docs
readme.local.md